.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media (max-width: 800px) {
    .App {
        display: block;
        height: fit-content;
    }
}
