:root {
    --color-primary-cyan-dark: hsl(179, 62%, 43%);
    --color-primary-cyan-light: hsl(179, 62%, 47%);
    --color-primary-yellow: hsl(71, 73%, 54%);
    --color-primary-yellow-dark: hsl(71, 73%, 48%);

    --color-neutral-gray: hsl(204, 43%, 93%);
    --color-neutral-blue: hsl(218, 22%, 67%);

    --border-radius-value: 10px;
}

body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-neutral-gray);
}
